<%
  # BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
  # Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
  # This program is free software; you can redistribute it and/or modify it under the
  # terms of the GNU Lesser General Public License as published by the Free Software
  # Foundation; either version 3.0 of the License, or (at your option) any later
  # version.
  #
  # BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
  # WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  # PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
  # You should have received a copy of the GNU Lesser General Public License along
  # with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background pb-1" is_moderator="<%= @is_moderator ? "yes" : "no" %>" is_neelz_room="<%= @is_neelz_room ? "yes" : "no" %>" room="<%= @current_room_inside %>" user="<%= current_user ? current_user.uid : "anonymous" %>">

  <% if @is_neelz_room && @user_browses %>
    <div id="inside_parent">
        <div id="inside_external_frame" style="display: block;">

            <% unless @is_moderator %>
              <div id="curtain_layer"></div>
              <div id="inside_external_frame_iframe_container">
                <iframe title="Fragebogen" class="inside_attendee_external_iframe" id="external_viewport_2"  <% unless @is_moderator %> sandbox="allow-same-origin allow-scripts" <% end %> src="<%= @is_moderator ? session['neelz_url_interviewer'] : '' %>" allowfullscreen allow="autoplay *; fullscreen *; display-capture *; geolocation *; microphone *; camera *; midi *; encrypted-media *; vr *;" width="100%" height="100%" importance="high">
                </iframe>
            <% end %>

            <iframe title="Fragebogen" <% unless @is_moderator %> class="inside_attendee_external_iframe" <% end %>id="external_viewport"  <% unless @is_moderator %> sandbox="allow-same-origin allow-scripts" <% end %> src="<%= @is_moderator ? session['neelz_url_interviewer'] : '' %>" allowfullscreen allow="autoplay *; fullscreen *; display-capture *; geolocation *; microphone *; camera *; midi *; encrypted-media *; vr *;" width="100%" height="100%" importance="high">
            </iframe>

            <% unless @is_moderator %>
              </div> <!-- end div inside_external_frame_iframe_container -->
            <% end %>

            <script type="text/javascript">

              let co_browsing = {active: false};

              function toggle_co_browsing_share(){
                  if (co_browsing.active){
                      $.post( "/neelz/unshare", function( data ) {
                          co_browsing.active = false;
                          $('#neelz_share_icon').removeClass('fa-eye').addClass('fa-eye-slash');
                          $('.fa-sync:before').css('color','gray');
                      });
                  }else{
                      $.post( "/neelz/share", function( data ) {
                          co_browsing.active = true;
                          $('#neelz_share_icon').removeClass('fa-eye-slash').addClass('fa-eye');
                          $('.fa-sync:before').css('color','white');
                      });
                  }
              }

              function refresh_co_browsing(){
                  if (co_browsing.active){
                      $.post( "/neelz/refresh", function( data ) {

                      });
                  }
              }

              $('#neelz_btn_toggle_share').click(toggle_co_browsing_share);
              $('#neelz_btn_refresh_share').click(refresh_co_browsing);
            </script>
        </div>

        <div id="inside_video_frame">
  <% end %>

            <iframe title="<%= @current_room_inside %>" id="client_viewport" allowfullscreen allow="autoplay *; fullscreen *; display-capture *; geolocation *; microphone *; camera *; midi *; encrypted-media *; vr *;" src="<%= @target_url_client %>" width="100%" height="100%" importance="high" referrer-policy="unsafe-url">

            </iframe>

  <% if @is_neelz_room && @user_browses %>
        </div>

    </div>

    <script type="text/javascript">
      var orientation_dim = {dim: 'unset', parent_height: 0, parent_width: 0, classh1: 'unset', classh2: 'unset',classv1: 'unset', classv2: 'unset'};
      var inside_parent = $("#inside_parent");
      var inside_video_frame = $('#inside_video_frame');
      var inside_external_frame = $("#inside_external_frame");

      function set_screen_split_layout(layout,no_update){
          switch (layout) {
            case 2:
                orientation_dim.classh1 = 'half_width';
                orientation_dim.classh2 = 'half_width';
                orientation_dim.classv1 = 'half_height';
                orientation_dim.classv2 = 'half_height';
                break;
            case 1:
                orientation_dim.classh1 = 'one_third_width';
                orientation_dim.classh2 = 'two_thirds_width';
                orientation_dim.classv1 = 'one_third_height';
                orientation_dim.classv2 = 'two_thirds_height';
                break;
            case 3:
                orientation_dim.classh2 = 'one_third_width';
                orientation_dim.classh1 = 'two_thirds_width';
                orientation_dim.classv2 = 'one_third_height';
                orientation_dim.classv1 = 'two_thirds_height';
                break;
          }
          if (!no_update) update_layout();
          $('.neelz-button-toggle').removeClass('neelz_screen_split_btn_down');
          $('#neelz_btn_split_'+layout).addClass('neelz_screen_split_btn_down');
      }

      function update_layout(){
          $('#inside_video_frame, #inside_external_frame')
              .removeClass('half_width').removeClass('half_height')
              .removeClass('one_third_width').removeClass('one_third_height')
              .removeClass('two_thirds_width').removeClass('two_thirds_height');
          if (orientation_dim.dim === 'vertical'){
              $('#inside_external_frame').addClass(orientation_dim.classv1);
              $('#inside_video_frame').addClass(orientation_dim.classv2);
          }else{
              $('#inside_external_frame').addClass(orientation_dim.classh1);
              $('#inside_video_frame').addClass(orientation_dim.classh2);
          }
      }

      function check_orientation() {
          if (inside_parent.width() >= 1945 && inside_parent.width() > inside_parent.height()) {
            if (orientation_dim.dim === 'vertical' || orientation_dim.dim === 'unset'){
                $('#inside_video_frame, #inside_external_frame')
                    .addClass('inside_frame_horizontal')
                    .removeClass('inside_frame_vertical');
                orientation_dim.dim = 'horizontal';
                update_layout();
            }
          } else {
              if (orientation_dim.dim === 'horizontal' || orientation_dim.dim === 'unset'){
                  $('#inside_video_frame, #inside_external_frame')
                      .addClass('inside_frame_vertical')
                      .removeClass('inside_frame_horizontal');
                  orientation_dim.dim = 'vertical';
                  update_layout();
              }
          }
      }

      function cache_parent_dim(){
          orientation_dim.parent_width = inside_parent.width();
          orientation_dim.parent_height = inside_parent.height();
      }

      $(window).resize(function(){
          check_orientation();
          cache_parent_dim();
      });

      $(document).ready(function () {
          set_screen_split_layout(3, true);
          check_orientation();
          cache_parent_dim();
          for (let i=1;i<=3;i++){
              $('#neelz_btn_split_'+i).click((function(_i){
                return function () {
                  set_screen_split_layout(_i);
              }})(i));
          }
      });

    </script>
  <% end %>
</div>