<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
#
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
#
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

  <div style="text-align:center; font-family:'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif">
    <div style="display:inline-block; background-color:#F5F7FB; border:1px solid #d3d3d3; padding: 25px 70px">
      <%= image_tag(@image, height: '70') %>

      <h1><%= @interviewer_name %> hat Sie zu einem Interview im Rahmen der Studie <%= @study_name %> eingeladen.</h1>
      <br>
      <br>
      <p>
        Bitte &uuml;ffnen Sie daf&uuml;r folgenden Link in Ihrem Webbrowser[*]:
        <br>
        <br>
        <b><a href="<%= @url %>"><%= @url %></a></b>
        <br>
        <br>
        Ihr f&uuml;nfstelliger Zugangscode lautet:
        <br>
        <br>
        <b><%= @code %></b>
        <br>
        <br>
        <br>
        Vielen Dank f&uuml;r Ihr Interesse an unserer Studie!
        <br>
        <br>
        [*] Hinweis: Am Besten funktioniert es mit dem Mozilla Firefox, Google Chrome oder Opera.
      </p>

    </div>
  </div>
